<div class="d-flex">
    <!-- Sidebar -->
    <nav id="sidebar" class="bg-dark text-white p-3">
      <h4>Admin Dashboard</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/users">Add Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/view-users">View Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/add-auction">Add Auction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/delete-auction">Delete Auction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/requests">Auction Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/completed-auctions">Completed Auctions</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/all-auctions">Auctions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/costumers">Costumers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/reports">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/settings">Settings</a>
        </li>
      </ul>
    </nav>
  
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
  
      
    </main>
  </div>
  