<app-header></app-header>

<div class="auction-list">
  <h2>Available Auctions</h2>

  <!-- Dropdown for Category Selection -->
  <div class="container mt-5">
    <div class="card p-4 shadow-lg rounded-3 custom-card">
      <div class="mb-4">
        <label for="categoryDropdown" class="form-label fs-5 text-muted mb-2">Select Category</label>
        <select id="categoryDropdown" (change)="onCategoryChange($event)"
          class="form-select form-select-lg p-3 custom-select">
          <option value="all">All Categories</option>
          <option value="Electronics">Electronics</option>
          <option value="Fashion">Fashion</option>
          <option value="Home & Garden">Home & Garden</option>
          <option value="Others">Others</option>
        </select>
      </div>
    </div>
  </div>
  
  <br><br>

  <!-- Auctions List -->
  <div *ngIf="filteredAuctions.length > 0; else noAuctions" class="auction-container">
    <div *ngFor="let auction of filteredAuctions" class="auction-card">
      <div class="auction-card-image">
        <img [src]="auction.productImage" style="object-fit: contain;" alt="{{ auction.name }}" />
      </div>
      <div class="auction-card-body">
        <h3 class="auction-title">{{ auction.name }}</h3>
        <p class="auction-description">{{ auction.description }}</p>
        <p><strong>Starting Price:</strong> ${{ auction.startingPrice }}</p>
        <p><strong>Time Left:</strong> {{ auction.remainingTime }}</p>
        <div class="button-container">
          <button class="bid-now-button" (click)="navigateToBidding(auction._id)">Bid Now!</button>
        </div>
      </div>
    </div>
  </div>

  <!-- No Auctions Message -->
  <ng-template #noAuctions>
    <p>No active auctions in this category.</p>
  </ng-template>
</div>

<app-footer></app-footer>
